<div class="col-xs-12" id="content">
  {{ $newsData := (index .Data "news") }}        
  {{ range $news := $newsData }}
    <div class="row">
      <div class="col-md-2">
        <p class="time">19 Februari 2016</p>
        <p class="author">Agus Susilo</p>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ $news.Title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <p>{{ $news.Text }}</p>
          </div>
        </div>
      </div>
    </div>
  {{ end }}

  {{ $totalPage := (index .Data "totalPage") }}
  {{ if gt $totalPage 1 }}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <nav>
          <ul class="pagination">
            <li>
              <a aria-label="Previous" href="#">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            {{ $currentPage := (index .Data "currentPage") }}
            {{ range $link := (index .Data "linkPage") }}
              {{ if eq $currentPage $link }}
                <li class="active">
              {{ else }}
                <li>
              {{ end }}
                <a href="/page/{{ $link }}">{{ $link }}</a>
              </li>
            {{ end }}
            <li>
              <a aria-label="Previous" href="#">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  {{ end }}
</div>
